<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="src/views/cadastro/styles.css">
    <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">

</head>

<body>
    <div ng-controller="CadastroController">
        <div id="container-cadastro">
            <main>
                <div class="conteudo-cadastro">
                    <div class="ajuda">
                        <h4>Faça parte desssa força</h4>
                        <h4>#AjudeQuemPrecisa</h4>
                        <div class="btn-ajuda-fundo">
                            <a href="#" class="btn-ajuda">quero ajudar</a>
                        </div>
                        <img src="assets/img/logo-maior.png" alt="Logo">
                    </div>
                    <div>
                        <form>
                            <h3>Cadastro de ONG</h3>

                            <div class="linha">
                                <hr>
                            </div>

                            <div class="input-cadastro">
                                <legend>
                                    <h3>Dados</h3>
                                </legend>

                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="nome" 
                                    ng-model="nome"
                                    name="nome"
                                    placeholder="Nome da Ong"
                                    ng-blur="validaConteudo('nome')"
                                    ng-change="validaCampo()"
                                    required>
                                <input 
                                    type="email" 
                                    class="input-central" 
                                    id="email" 
                                    name="email" 
                                    ng-model="email"
                                    placeholder="E-mail"
                                    ng-blur="validaConteudo('email')"
                                    ng-change="validaCampo()"
                                    required>
                                <div>
                                    <input 
                                        type="password" 
                                        class="input-central" 
                                        id="senha" 
                                        ng-model="senha"
                                        name="senha" 
                                        placeholder="Senha"
                                        ng-blur="validaConteudo('senha')"
                                        ng-change="validaCampo()"
                                        required>
                                    <img  
                                        class="img-exibe" 
                                        src="assets/icon/exiba.png" 
                                        alt="Exibe" 
                                        ng-click="icon()">
                                </div>
                            </div>

                            <div class="linha">
                                <hr>
                            </div>

                            <div class="input-cadastro">
                                <legend>
                                    <h3>Endereço</h3>
                                </legend>

                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="cep" 
                                    name="cep" 
                                    placeholder="CEP"
                                    ng-model="cep"
                                    ui-br-cep-mask
                                    ng-blur="validaConteudo('cep')"
                                    ng-change="validaCampo(); retiraCaracteres()"
                                    required>
                                    
                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="logradouro" 
                                    name="logradouro" 
                                    ng-model="logradouro"
                                    placeholder="Logradouro"
                                    ng-blur="validaConteudo('logradouro')"
                                    ng-change="validaCampo()"
                                    required>
                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="bairro" 
                                    ng-model="bairro"
                                    name="bairro" 
                                    placeholder="Bairro"
                                    ng-blur="validaConteudo('bairro')"
                                    ng-change="validaCampo()"
                                    required>
                                <input 
                                    type="text" 
                                    class="input-primaria-1" 
                                    id="numero" 
                                    ng-model="numero"
                                    name="numero" 
                                    placeholder="Nº"
                                    ng-blur="validaConteudo('numero')"
                                    ng-change="validaCampo()"
                                    required>
                                <input 
                                    type="text" 
                                    class="input-primaria-2" 
                                    id="localidade" 
                                    ng-model="localidade"
                                    name="localidade"
                                    placeholder="Cidade"
                                    ng-blur="validaConteudo('localidade')"
                                    ng-change="validaCampo()"
                                    required>
                            </div>
                            <div class="cadastrar">
                                <button type="submit" id="mensagem" ng-click="save()" ng-disabled="disabledButton">cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>