
.container-card{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-card .card{
    position: relative;
    margin: 0px 10px;
}

.container-card .card .face{
    width: 350px;
    height: 200px;
    transition: 0.5s;
}

.container-card .card .face.face1{
    position: relative;
    background: var(--color-card-laranja);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);

    border-radius: 5px 5px 0px 0px;
}

.container-card .card:hover .face.face1{
    transform: translateY(0px);
    background: var(--color-card-verde);
    color: var(--color-font-branco);

}

.container-card .card .face.face1 .content-card{
    transition: 0.5s;
}

.container-card .card:hover .face.face1 .content-card{
    opacity: 1;
}

.container-card .card .face.face1 .content-card .img-card{
    margin-left: 6rem;
}

.container-card .card .face.face1 .content-card h3{
    color: var(--color-card-cinza-escuro);
    font: 700 1.3rem 'Inter';

    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}

.container-card .card .face.face2{
    position: relative;
    background: var(--color-card-branco);

    color: var(--color-font-preto-form);
    align-items: center;
    font: 500 1rem 'Inter';


    display: flex;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transform: translateY(-100px);

    border-radius: 5px;

}

.container-card .card:hover .face.face2{
    transform: translateY(0px);
}
.container-card .card .face.face2 .content-card p{
    margin-bottom: 20px;
    padding: 0;
}

.container-card .card .face.face2 .content-card a{
    /* margin: 15px 0 0; */
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: var(--color-font-verde-claro);

    font: 700 1rem 'Inter';


    padding-right: 15px;
    float: right;
}

.container-card .card .face.face2 .content a:hover{
    color: var(--color-font-verde);
}