<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="src/views/login/styles.css">
</head>

<body ng-view>
    <div>
        <div id="container-login">
            <main>
                <div class="conteudo-login">
                    <div class="ajuda">
                        <h4>Faça parte desssa força</h4>
                        <h4>#AjudeQuemPrecisa</h4>
                        <div class="btn-ajuda-fundo">
                            <a href="#" class="btn-ajuda">quero ajudar</a>
                        </div>
                    </div>
                    <div>
                        <form name="formulario">
                            <h3>Olá</h3>
                            <h3>bem vindo de volta</h3>
                            <div class="input-login">
                                <input 
                                    type="email" 
                                    id="email" 
                                    name="email" 
                                    placeholder="E-mail"
                                    required>

                               <div>
                                    <input 
                                        type="password" 
                                        id="senha" 
                                        name="senha" 
                                        placeholder="Senha"
                                        required>
                                    <img  
                                        class="img-exibe" 
                                        ng-src="assets/icon/exiba.png" 
                                        alt="Exibe" 
                                        ng-click="icon()">
                               </div>
                            </div>

                            <p class="esqueci-senha">esqueci minha senha</p>

                            <div class="login">
                                <div class="btn-login">
                                    <button type="submit" ng-disabled="checked" ng-click="entrar()">Entrar</button>
                                </div>
                            </div>
                            <div class="link">
                                <a href="/#!cadastro">cadastre por email</a>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>