#container-login{
    padding-top:50px;

    height: 100vh;
    background-color: var(--color-fundo-primary);
}

main .conteudo-login {
    width: 1181px;  
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;

}

main .conteudo-login .ajuda {
    color: var(--color-font-branco);

    font: 300 2rem 'Inter';
}

main .conteudo-login .ajuda .btn-ajuda-fundo {
    border-radius: 5px;

    background-color: var(--color-btn-roxo);

    width: 15rem;
    height: 3.6rem;

    padding: 6px;
    margin-top: 30px;


    text-align: center;
}

main .conteudo-login .ajuda .btn-ajuda-fundo a {
    text-decoration: none;

    color: var(--color-font-branco);
}

main .conteudo-login form{
    background-color: var(--color-card-branco);

    width: 400px;
    height: 492px;

    border-radius: 20px;

    margin: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

main .conteudo-login form h3{
    font: 500 1.6rem 'Inter';

    text-align: center;

    margin-top: 26px;

}

main .conteudo-login form .input-login{
    margin: auto;
}

main .conteudo-login form .input-login input{
    width: 327px;
    height: 54px;

    background-color: var(--color-input-cinza);

    margin: 30px 0px 0px 32px;

    border-radius: 4px 4px 0px 0px;
    border: 0;

    /* cores e espaçamento dentro do input */
    color: var(--color-font-preto-form);
    font: 500 1.4rem 'Roboto';

    padding-left: 10px;

    box-sizing: border-box;
}
/* main .conteudo-login form .input-login input.invalid{
    border: 2px solid red;
} */
/* main .conteudo-login form .input-login textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} */

main .conteudo-login form .input-login input::placeholder {
    font: 500 1.4rem 'Roboto';
    color: var(--color-font-preto-form);
}

main .conteudo-login form .input-login .img-exibe{
    position: relative;
    right: 40px;
    top: 5px;
    
    cursor: pointer;
}


main .conteudo-login form .esqueci-senha{
    font: 300 0.9rem 'Roboto';
    color: var(--color-font-azul);
    margin: 5px 0px 25px 32px;
}

main .conteudo-login form .cadastramento .opcao{
    font: 700 1.4rem 'Roboto';

    color: var(--color-font-preto);
    margin: 0px 0px 30px 0px;
    text-align: center;
}
/* button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}  */

main .conteudo-login form .login .btn-login{
    margin-left: px;
    margin: 40px 0px 0px 37px;

    
}

main .conteudo-login form .login button{
    font: 700 2rem 'Roboto';

    background-color: var(--color-btn-azul);
    color: var(--color-font-branco);

    width: 317px;
    height: 44px;

    border-radius: 5px;
    border: 0;

    cursor: pointer;
}

main .conteudo-login form .link{
    padding: 25px 0px 0px 0px;
}

main .conteudo-login form .link a{
    font: 700 1.2rem 'Roboto';
    color: var(--color-font-azul);

    padding: 40px 0px 0px 145px;

    text-decoration: none;
}



