/* app css stylesheet */

:root{
  /* barra */
  --color-barra-primary: #078080;
  --color-barra-secondary: #FFD6A5;
  /* fundo */
  --color-fundo-primary: #5FA5A5;
  /* fonts */
  --color-font-azul: #0261FF;                 
  --color-font-branco: #FFFFFF; 
  --color-font-preto: #000000;
  --color-font-preto-form: #302F2F;
  --color-font-verde: #078080;
  --color-font-verde-claro: #5DC5C5;
  /* button */
  --color-btn-verde: #078080;
  --color-btn-verde-escuro:#066363;
  --color-btn-roxo: #7433FF;
  --color-btn-roxo-escuro: #5c23d6;
  --color-btn-azul: #0261FF;
  --color-btn-azul-escuro: #0c47a7;
  /* card */
  --color-card-laranja: #FFD6A5;
  --color-card-verde: #078080;
  --color-card-verde-claro: #E7F5F5;
  --color-card-branco: #FFFFFF;

  /* input */
  --color-input-cinza: #E9E9E9;
  --color-input-cinza-claro: #E5E5E5;

  --color-input-vermelho: red;
  /* hr */
  --color-hr-cinza: #C4C4C4
;
 
  font-size: 60%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body, #root{
  height: 100vh;
}

input, select{
  width: 327px;
  height: 54px;

  background-color: var(--color-input-cinza);

  margin: 30px 0px 0px 32px;

  border-radius: 4px 4px 0px 0px;
  border: 1px solid var(--color-input-cinza);

  /* cores e espaçamento dentro do input */
  color: var(--color-font-preto-form);
  font: 500 1.4rem 'Roboto';

  padding-left: 10px;

  box-sizing: border-box;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 700px){
  :root{
      font-size:62.5%;
  }  
}