<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="views/cadastro/styles.css">
</head>

<body ng-wiew>
    <div>
        <div id="container-cadastro">
            <main>
                <div class="conteudo-cadastro">
                    <div class="ajuda">
                        <h4>Faça parte desssa força</h4>
                        <h4>#AjudeQuemPrecisa</h4>
                        <div class="btn-ajuda-fundo">
                            <a href="#" class="btn-ajuda">quero ajudar</a>
                        </div>
                        <img src="assets/img/logo-maior.png" alt="Logo">
                    </div>
                    <div>
                        <form>
                            <h3>Cadastro de ONG</h3>

                            <div class="linha">
                                <hr>
                            </div>

                            <div class="input-cadastro">
                                <legend>
                                    <h3>Dados</h3>
                                </legend>

                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="nome" name="nome"
                                    placeholder="Nome da Ong"
                                    required>
                                <input 
                                    type="email" 
                                    class="input-central" 
                                    id="email" 
                                    name="email" 
                                    placeholder="E-mail"
                                    required>
                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="senha" 
                                    name="senha" 
                                    placeholder="Senha"
                                    required>
                            </div>

                            <div class="linha">
                                <hr>
                            </div>

                            <div class="input-cadastro">
                                <legend>
                                    <h3>Endereço</h3>
                                </legend>

                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="cep" 
                                    name="cep" 
                                    placeholder="CEP"
                                    ui-br-cep-mask
                                    required>
                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="logradouro" 
                                    name="logradouro" 
                                    placeholder="Logradouro"
                                    required>
                                <input 
                                    type="text" 
                                    class="input-central" 
                                    id="bairro" 
                                    name="bairro" 
                                    placeholder="Bairro"
                                    required>
                                <input 
                                    type="text" 
                                    class="input-primaria-1" 
                                    id="numero" 
                                    name="numero" 
                                    placeholder="Nº"
                                    required>
                                <input 
                                    type="text" 
                                    class="input-primaria-2" 
                                    id="localidade" 
                                    name="localidade"
                                    placeholder="Cidade"
                                    required>
                            </div>
                            <div class="cadastrar">
                                <button type="submit" ng-click="save()">cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>