<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="views/cadastro/styles.css">
</head>

<body>
    <div>
        <div id="container-cadastro">
            <main>
                <div class="conteudo-cadastro">
                    <div class="ajuda">
                        <h4>Faça parte desssa força</h4>
                        <h4>#AjudeQuemPrecisa</h4>
                        <div class="btn-ajuda-fundo">
                            <a href="#" class="btn-ajuda">quero ajudar</a>
                        </div>
                        <img src="assets/img/logo-maior.png" alt="Logo">
                    </div>
                    <div>
                        <form>
                            <h3>Cadastro de ONG</h3>

                            <div class="linha"><hr></div>

                            <div class="input-cadastro">
                                <h3>Dados</h3>

                                <input type="text" class="input-central" id="fname" name="fname" placeholder="Nome da Ong">
                                <input type="text" class="input-central" id="lname" name="lname" placeholder="E-mail">
                                <input type="text" class="input-central" id="lname" name="lname" placeholder="Senha">
                            </div>

                            <div class="linha"><hr></div>

                            <div class="input-cadastro">
                                <h3>Endereço</h3>

                                <input type="text" class="input-central" id="fname" name="fname" placeholder="CEP">
                                <input type="text" class="input-central" id="lname" name="lname" placeholder="Rua">
                                <input type="text" class="input-central" id="lname" name="lname" placeholder="Bairro">
                                <input type="text" class="input-primaria-1" id="lname" name="lname" placeholder="Nº">
                                <input type="text" class="input-primaria-2" id="lname" name="lname" placeholder="Cidade">
                            </div>
                            <div class="cadastrar">
                                <button type="submit">cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>