<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="src/views/home/styles.css">
</head>

<body ng-wiew>
    <div ng-controller="HomeController">
        <div id="container-home">
            <main>
                <div class="conteudo-home">
                    <section class="campo-ajuda">
                        <div class="ajuda">
                            <h4>Faça parte desssa força</h4>
                            <h4>#AjudeQuemPrecisa</h4>
                            <div class="btn-ajuda-fundo">
                                <button class="btn-ajuda" ng-click="direcione()">quero ajudar</button>
                            </div>
                        </div>
                        <div>
                            <img class="img-ajuda" src="assets/img/Hands - Unlock 1.png" alt="Imagem de Ajuda">
                        </div>
                    </section>
                    <section class="acao">
                        <hr>
                        <h3 class="titulo-acao"> Qual é nossa Ação</h3>
                        <p class="txt-acao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus at egestas
                            ultricies accumsan
                            nunc, vitae aenean faucibus. Et leo fringilla at vel. Libero et in ultrices vitae arcu,
                            tortor. Rhoncus maecenas mauris, dolor magna tincidunt.</p>
                        <hr>
                    </section>
                    <section class="campanhas">
                        <h3 class="titulo-campanhas">Campanhas ativas</h3>

                        <div class="card-campanhas">
                            <card-directive></card-directive>
                            <card-directive></card-directive>
                            <card-directive></card-directive>
                        </div>
                    </section>
                </div>
            </main>

            <footer class="barra-info">
                <div class="barra-espaco">
                    <img src="assets/img/logoBar.png" alt="Logo">
                    <div class="txt-info-barra">
                        <p>Como ajudar?</p>
                        <p>Campanhas Ativas</p>
                        <p>Transparência</p>
                        <p>Seja parceiro</p>
                    </div>
                    <div class="txt-info-barra">
                        <p>Fale com a gente</p>
                        <p>Whatsapp</p>
                        <p>Email</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>