#container-bar {
    background-color: var(--color-barra-primary);
    height: 80px;
}

#container-bar .conteudo-bar {
    display: flex;
    width: 1016px;

    margin: auto;
    /* padding: 11px 100px 13px 100px; */
}

#container-bar .conteudo-bar nav, ul {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    margin: auto;
}

#container-bar nav ul li{
    list-style: none;
    margin: 20px;

    position: relative;
    left: 22rem;
}

#container-bar nav ul li a{
    color: var(--color-font-branco);
    text-decoration: none;

    font: 300 1rem 'Inter';
}

#container-bar nav img{
    position: relative;
    /* right: 261px; */
    right: 22rem;
}

#container-bar nav ul button{
    font: 300 1rem 'Inter';

    background: var(--color-btn-roxo);
    color: var(--color-font-branco);

    width: 104px;
    height: 30px;
    padding: 5px;
    /* text-align: center; */

    border-radius: 5px;
    border: 0;

    cursor: pointer;
}
#container-bar nav ul button:hover{
    background: var(--color-btn-roxo-escuro);
}

