<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="views/login/styles.css">
</head>

<body>
    <div>
        <div id="container-login">
            <main>
                <div class="conteudo-login">
                    <div class="ajuda">
                        <h4>Faça parte desssa força</h4>
                        <h4>#AjudeQuemPrecisa</h4>
                        <div class="btn-ajuda-fundo">
                            <a href="#" class="btn-ajuda">quero ajudar</a>
                        </div>
                    </div>
                    <div>
                        <form>
                            <h3>Olá</h3>
                            <h3>bem vindo de volta</h3>
                            <div class="input-login">
                                <input type="email" id="fname" name="fname" placeholder="E-mail">
                                <input type="text" id="lname" name="lname" placeholder="Senha">                                
                            </div>
                            
                            <p class="esqueci-senha">esqueci minha senha</p>

                            <div class="cadastramento">
                                <p class="opcao">ou</p>
                                <div class="cadastro-conta">
                                    <img src="assets/icon/logo googleg 48dp.png" alt="Logo do Google">
                                    <p>Acesse com sua conta Google</p>
                                </div>
                                <div class="link">
                                    <a href="/#!cadastro">cadastre por email</a>
                                </div>
                            </div>
                          </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>